{
  "extends": ["react-app", "airbnb"],
  "env": {
    "browser": true,
    "node": true,
  },
  "settings": {
    "react": {
      "version": "^16.6.3",
    },
  },
  "rules": {
    "no-console": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": ["error", { "ignore": ["Embark/*"] }],
    "global-require": "off",
    "class-methods-use-this": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
  }
}
