{
  "extends": ["react-app", "airbnb"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
  },
  "settings": {
    "react": {
      "version": "^16.6.3",
    },
  },
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "singleQuote": true,
      "arrowParens": "always"
    }],
    "no-console": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-underscore-dangle": "off",
    "global-require": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "class-methods-use-this": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
  }
}
